.footer {
  background-color: #f0f0f0;
  padding: 72px 0 12px 0;
}
.footer__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 78px;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #766b6b;
    position: absolute;
    bottom: -60px;
    left: 0;
  }
}
.footer__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 170px;
  margin-right: 40px;
}
.foote__list-item {
  max-width: 173px;
  margin-right: 48px;

  &:last-child {
    margin-right: 0;
  }
}
.footer__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #1a0909;
  margin-bottom: 12px;
}
.footer__item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #766b6b;
  display: block;
  margin-bottom: 10px;
}
.footer__social-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #1a0909;
  margin-bottom: 17px;
}
.footer__social-link {
  margin-right: 16px;
}
// footer bootom ------------------------------------------------------------------------------------

.footer__btm-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__btm-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #766b6b;
}
.footer__datacron-wrapper {
  display: flex;
  align-items: flex-end;
}
.footer__btm-text {
  margin-right: 16px;
}
@media only screen and (max-width: 750px) {
  .footer {
    padding: 36px 0 24px 0;
  }
  .footer__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 52px;
    &::after {
      bottom: -36px;
    }
  }
  .footer__logo-wrapper {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .footer__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 36px 0 48px 0;
  }
  .foote__list-item {
    max-width: 327px;
    margin-right: 0;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .footer__item-title {
    font-size: 18px;
    line-height: 21px;
  }
  .footer__item-link {
    font-size: 16px;
    line-height: 19px;
  }
  .footer__social-title {
    display: none;
  }
  .footer__social-wrapper {
    min-width: 343px;
    display: flex;
    justify-content: center;
  }
  .footer__social-img {
    width: 32px;
    height: 32px;
  }
  //   footer  btm ----------------------------------------------------------------------------------------------------
  .footer__btm-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .footer__btm-text {
    margin-bottom: 24px;
  }
  .footer__datacron-wrapper {
    display: flex;
    align-items: flex-start;
  }
  .footer__btm-text {
    margin-right: 16px;
  }
}
