.header__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.header__burger {
  display: none;
}
.clr {
  background-color: #f0f0f0;
}
.header__lang-list {
  display: flex;
  align-items: center;
}
.header__nums {
  margin-right: 36px;
  color: #766b6b;
  &:last-child {
    margin-right: 0;
  }
}
.header__lang-item {
  margin-right: 5px;
}
.header__lang-links {
  color: #766b6b;
  &:active {
    color: #1a0909;
  }
}
// header top finished -----------------------------------------------------------------------------------------------

.header__main {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.header__nav {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  align-items: center;
  margin-left: 47px;
}
.header__list-item {
  margin-right: 24px;
  &:last-child {
    margin-right: 0;
  }
}
.header__item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1a0909;
}
.header__poluchit-link {
  padding: 16px 24px;
  background-color: #c80823;
  color: #ffffff;
  box-shadow: 0px 8px 20px rgba(200, 8, 35, 0.25);
  border-radius: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-left: 50px;
}
.header__item-link-after {
  position: relative;
}

.header__item-link-after::after {
  content: "";
  display: block;
  width: 8px;
  height: 4px;
  background: url(../../assets/arrowDown.svg) no-repeat center center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -12px;
}
.header__nav-bagLink {
  margin-left: 110px;
}
@media only screen and (max-width: 1000px) {
  .header__contact {
    padding: 4px 0;
    font-size: 10px;
    line-height: 13px;
  }
  .header__nums {
    margin-right: 20px;
    color: #766b6b;
    &:last-child {
      margin-right: 0;
    }
  }
  .header__lang-item {
    margin-right: 3px;
  }
  .header__lang-links {
    color: #766b6b;
    &:active {
      color: #1a0909;
    }
  }
}
// --------------------------------------------------------------
@media only screen and (max-width: 980px) {
  .header__main {
    padding: 13px 0;
  }
  .header__list {
    margin-left: 35px;
  }
  .header__list-item {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
  .header__item-link {
    font-size: 9px;
    line-height: 10px;
  }
  .header__poluchit-link {
    padding: 8px 14px;
    font-size: 9px;
    line-height: 10px;
    margin-left: 110px;
  }
  .header__item-link-after {
    position: relative;
  }
  .header__nav-bagLink {
    margin-left: 180px;
  }
}
@media only screen and (max-width: 870px) {
  .header__nav-bagLink {
    margin-left: 105px;
  }
  .header__poluchit-link {
    margin-left: 55px;
  }
}
@media only screen and (max-width: 750px) {
  .header__contact {
    display: none;
  }
  .header__poluchit-link {
    display: none;
  }
  .header__list {
    display: none;
  }
  .header__logo {
    margin-right: auto;
  }
  .header__nav-bagLink {
    margin-right: 25px;
  }

  // burger menu ----------------------------------------------------------------------------------------------

  .header__burger {
    width: 21px;
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
  }
  .header__burger::after,
  .header__burger::before,
  .header__burger-inner {
    content: "";
    display: block;
    width: 21px;
    height: 3px;
    background-color: #766b6b;
    border-radius: 1.5px;
    transition: 0.2s ease all;
  }
  .header__burger-inner {
    margin: 3px 0;
  }
  .header__burger--opened .header__burger-inner {
    display: none;
  }
  .header__burger--opened::before,
  .header__burger--opened::after {
    position: absolute;
    top: 50%;
    left: 0;
  }
  .header__burger--opened::before {
    transform: translateY(-50%) rotate(45deg);
  }
  .header__burger--opened::after {
    transform: translateY(-50%) rotate(-45deg);
  }
}


